<%= content_for :title do %> Obrigado - Sua Reforma <% end %>

<%= content_for :metatags do %>
    <meta name=”description” content="Faça orçamento para sua reforma ou construção no maior portal de reformas do Brasil." />
    <meta name="keywords" content="reforma construção pintura acabamento construir alvenaria eletricidade gesso serralheria vidracaria hidraulica paisagismo reformar construir" />
<% end %>

            <!-- HEADER -->
            <div id="header">
                <div class="wrapper">
                    <div id="logo">
					<h1><%= link_to image_tag("logo.png", :alt => "Sua Reforma"), "/", :title => "Sua Reforma" %></h1>
                    </div>
                </div>
            </div>
            <!-- / HEADER -->

            <!-- CONTENT -->
            <div id="content" class="obrigado">
                <div id="contentLeft">
                    <div id="oMaior">
				    <%= image_tag "cadastro-sucesso.png", :alt => "Cadastro efetuado com sucesso", :title => "Cadastro efetuado com sucesso" %>
                        <p>Em breve, você estará fazendo parte da maior rede online de reformas. </p>
                        <p> Agradecemos a sua participação.</p>
                    </div>
                </div>
                <div id="contentRight">
				<%= link_to "", "/", :id => "btVoltar" %>
                </div>
            </div>
            <!-- / CONTENT -->
